.lightbox {
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5s;
    transition: opacity .3s;
}
.lightbox.fadeOut {
    opacity: 0;
}
.lightbox__next,
.lightbox__prev {
    border: none;
    background: url(../images/arrow.svg) center center / 18px 32px no-repeat;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: -16px;
    z-index: 11;
}
.lightbox__prev {
    right: auto;
    left: 0;
    transform: rotate(180deg);
}
.lightbox__close {
    border: none;
    background: url(../images/cross.svg) center center / 100% 100% no-repeat transparent;
    width: 24px;
    height: 24px;
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 12;
}
.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -3000px;
}
.lightbox button:hover {
    opacity: 1;
}
.lightbox__container img {
    max-width: 100%;
    height: auto;
    animation: lightboxIn .5s;
}
.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}
.lightbox__loader {
    width: 57px;
    height: 57px;
    opacity: .5;
    background: url(../images/loader.svg) center center no-repeat;
}

@keyframes lightboxIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
