p {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    font-size: 1em;
}

a {
    font-family: 'Open Sans', sans-serif;
}

.center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Handlee', cursive;
}

h1 {
    font-size: 1.9em;
    text-align: center;
}

body { 
    margin: 0 0 0 0;
}

header { 
    width: 100%; 
    background-color: rgb(51, 92, 104);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sticky { position: -webkit-sticky; /* Safari */ position: sticky; top: 0; }

.logo {
    margin: 10px 0 10px 10px;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 20px 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
}

nav a:hover {
    border-bottom : 1px solid white;
}

main {
    width: 100%;
    margin : auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.intro {
    width: 100%;
    margin-bottom: 40px;
    background-color: rgb(51, 92, 104);
}

.content-intro {
    width: 1080px;
    margin: auto;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feed {
    width: 1080px;
    margin: auto;
}

.feed-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.refresh {
    text-align: right;
}

.feed-content {
    width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.one-post {
    border: 1px solid #333;
    width: 480px;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    height: auto;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.date {
    margin-bottom: 0px;
    font-style: italic;
    font-size: 0.9em;
}

.author {
    margin-top: 0px;
    font-style: italic;
    font-size: 0.9em;
}

.one-post button {
    padding: 12px 12px 12px 12px;
    background-color: rgb(51, 92, 104);
    color: white;;
    font-size : 1em;
}

.one-post button:hover {
    background-color: rgb(60, 61, 61);
    color: white;
}

footer {
    background-color: rgb(51, 92, 104);
    display: flex;
    flex-direction : row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: lightgrey;
}

.copyright {
    align-self : center;
}